.cart__content
    | Ваша корзина пуста.
    br
    | Зайдите в&nbsp;
    a.content__link(href='/catalog') каталог
    |  или воспользуйтесь&nbsp;
    a.content__link(href='/search') поиском
    | , чтобы найти товары и добавить их в корзину.
    .cart__empty