article
    h3.header_text.paragraph Отдел продаж
    address
        p
            | Телефон:&nbsp;
            a.content__link(href='tel:+77771234567') +7 (777) 123-45-67
        p
            | E-Mail:&nbsp;
            a.content__link(href='mailto:marketing@softwareshop777.ru') marketing@softwareshop777.ru
    h3.header_text.paragraph По вопросам разработки
    address
        p
            | Главный разработчик:&nbsp;
            a.content__link(href='mailto:crazydoctor@softwareshop777.ru') crazydoctor@softwareshop777.ru
h3.header_text.paragraph Офис (карта)
script(type='text/javascript' charset='utf-8' async='' src='https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ae8c07426d2a0ef2a695a08a5069cfed5420466d94ce863a061e5a5096f648004&width=100%25&height=400&lang=ru_RU&scroll=true')