.product__additional_info
    .product__system_prefs
        h3.paragraph Системные требования:
        p.product__system_prefs_el ОС: Windows, Linux
        p.product__system_prefs_el Процессор: i5.
        p.product__system_prefs_el Оперативная память: 6 GB ОЗУ
        p.product__system_prefs_el Видеокарта: NVIDIA GeForce 650 (min 2 Gb)
        p.product__system_prefs_el DirectX: Версии 9.0.
        p.product__system_prefs_el Место на диске: 8 GB.
    .product__contacts
        h3.paragraph Если у Вас возникли вопросы:
        p
            | Посетите страницу&nbsp;
            a.content__link(href='/contact') контактов